@media screen and (max-width: 2980px) {
    * {
        font-family: 'Oxygen', sans-serif;
    }

    body {
       background-color: rgb(250,250,250);
    }

    #unix_icon {
        background-image: url(../images/iconmonstr-window-command-icon.png);
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    #history_icon {
        background-image: url(../images/iconmonstr-book-17-icon.png);
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    #about_icon {
        background-image: url(../images/iconmonstr-user-14-icon.png);
        color: #EEE;
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    li {
        list-style: none;
        margin-right: 30px;
    }

    .clear {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .title {
        font-size: 70px;
    }

    .homeTitle {
        /*font-size: 100px;
        text-align: center;
        margin-top: 20px;*/
        background-image: url(../../assets/images/logo_900.png);
        height: 318px;
        max-width: 900px;
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        transition: all 200ms linear;    
    }

    .home_text {
        color: #0090e0;
        font-size: 30px;
        text-align: center;
    }

    .separator {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-top: solid 1px #EEEEEE;
        border-bottom: solid 1px #DDDDDD;
        margin-top: 20px;
        margin-bottom: 200px;
    }

    #header {
        /*margin-bottom: 50px;*/
    }

    #main_content {
        margin-top: 100px;
    }

    .main_iconLabel {
        font-size: 80px;
        min-width: 200px;
        transition: opacity 0.5s ease-in-out;
        color:#000;
    }

    .icon_background {
        border-radius: 50%;
        height: 400px;
        width: 400px;
        background-color: rgb(250,250,250);
        border: 8px solid rgb(250,250,250);

        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .icon_background.blue:hover{
        border: 8px solid #0090e0;
        opacity: 0.75;
        -webkit-box-shadow: 0px 4px 4px #DDD;
        background-color: #FFF;
    }

    .icon_background.green:hover {
        border: 8px solid #51D3A4;
        opacity: 0.75;
        -webkit-box-shadow: 0px 4px 4px #DDD;
        background-color: #FFF;
    }

    .icon_background.purple:hover{
        border: 8px solid #A66BC5;
        opacity: 0.75;
        -webkit-box-shadow: 0px 4px 4px #DDD;
        background-color: #FFF;
    }

    .icon_background * {
        position: relative;
        top: 18%;
        left: 22%;
    }

    .icon_background:hover div[id*="_icon"] {
        -webkit-animation: icon_bounce 0.5s ease-in-out;
    }

    .icon_background:hover p[id*="_label"] {
        opacity: 1;
        -webkit-animation: label_anchor 0.5s ease-in-out;
    }

    .icon_background p[id*="_label"] {
        opacity: 0;
    }

    @-webkit-keyframes icon_bounce {
        0% {
            margin-top: 0px;
        }
        50% {
            margin-top: -20px;
        }
        75% {
            margin-top: -20px;
        }
        100% {
            margin-top: 0px;
        }
    }

    @-webkit-keyframes label_anchor {
        0% {
            margin-top: 0px;
        }
        50% {
            margin-top: 20px;
        }
        75% {
            margin-top: 20px;
        }
        100% {
            margin-top: 0px;
        }
    }

    #footer {
        bottom:0px;
        height:100px;
    }

    #console {
        width: 100%;
        height: 200px;
        bottom: 0;
        position: relative;
        box-shadow: #EEE 0px -5px 5px;
        background-color: #000;
    }

    #console * {
        color: #FFF;
    }

    #console_input {
        bottom: 0px;
        left: 15px;
        position: absolute;
        border: none;
        display: inline;
        width: 90%;
        background-color: transparent;
        margin-top: 2px;
        color: #FFF;
    }

    #console_start {
        bottom: 10px;
        left: 5px;
        position: absolute;
    }

    #console_history {
        margin-left: 10px;
        margin-top: 10px;
    }

    #console_open {
        position:relative;
        bottom: 10px;
    }
    #console_clear {
        height: 300px;
        display: block;
    }

    .curPage {
        cursor: default;
        color: #000;
        font-weight: bold;
    }

    .curPage:hover {
        color: #000;
        cursor:default;
        text-decoration: none;
    }

    .lh-2 {
        line-height: 2;
    }

    .clear200 {
        display: block;
        height: 200px;
        position: relative;
    }
    
    .clear100 {
        display: block;
        height: 100px;
        position: relative;
    }

    .clear50 {
        display: block;
        height: 50px;
        position: relative;
    }

    .clear25 {
        display: block;
        height: 25px;
        position: relative;
    }

    .centerBlock {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1640px) {
    #unix_icon {
        background-image: url(../images/iconmonstr-window-command-icon.png);
        height: 150px;
        width: 150px;
        background-size: 150px 150px;
    }

    #history_icon {
        background-image: url(../images/iconmonstr-book-17-icon.png);
        height: 150px;
        width: 150px;
        background-size: 150px 150px;
    }

    #about_icon {
        background-image: url(../images/iconmonstr-user-14-icon.png);
        height: 150px;
        width: 150px;
        background-size: 150px 150px;
    }

    .main_iconLabel {
        font-size: 60px;
        min-width: 150px;
    }

    .icon_background {
        height: 300px;
        width: 300px;
    }    
}

@media screen and (max-width: 1100px) {
    #unix_icon {
        background-image: url(../images/iconmonstr-window-command-icon.png);
        height: 100px;
        width: 100px;
        background-size: 100px 100px;
    }

    #history_icon {
        background-image: url(../images/iconmonstr-book-17-icon.png);
        height: 100px;
        width: 100px;
        background-size: 100px 100px;
    }

    #about_icon {
        background-image: url(../images/iconmonstr-user-14-icon.png);
        height: 100px;
        width: 100px;
        background-size: 100px 100px;
    }

    .main_iconLabel {
        font-size: 40px;
        min-width: 100px;
    }

    .icon_background {
        height: 200px;
        width: 200px;
    }

    .homeTitle {
        background-image: url(../images/logo_600.png);
        max-width: 600px;
        height: 212px;
    }

    .home_text {
        
    }
}

@media screen and (max-width: 768px) {
    #unix_icon {
        background-image: url(../images/iconmonstr-window-command-icon.png);
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    #history_icon {
        background-image: url(../images/iconmonstr-book-17-icon.png);
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    #about_icon {
        background-image: url(../images/iconmonstr-user-14-icon.png);
        height: 200px;
        width: 200px;
        background-size: 200px 200px;
    }

    .main_iconLabel {
        font-size: 40px;
        min-width: 100px;
    }
}